<h1>Taken</h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table">
      <thead class="thead-inverse">
        <tr>
          <th>Datum</th>
          <th>Omschrijving</th>
          <th>File</th>
          <th>Door</th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.created_at.to_date.iso8601 %></td>
            <td><%= link_to task.description, job_task_path(@job, task) %></td>
            <td><%= task.file %></td>
            <td>Contactpersoon koppelen</td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <br>

  <div>
    <%= link_to 'Nieuwe taak', new_job_task_path, :class => "btn btn-secondary"  %>
  </div>
